
$primary-color: #333E48;
// $primary-color: #000000;
$secondary-color: #146CDA;
$hero-bg: #F2EFE9;
$white: #fff;
$light: #777;
$light-color: #dddddd;
$red: #ff2424;
$banner-bg: rgb(255 255 255 / 20%);
$warning: #f8bb86;

$small-text-color: #999;
// $secondary-color: #2453D4;
// $hero-bg: #f6f5f5;

